<!DOCTYPE html>
<html lang="ru">
<head>
	<%- include('templates/head.ejs') %>
	<link rel="stylesheet" href="../css/style.css" />
</head>
<body class="light-mode">
	<%- include('templates/header.ejs') %>
	<%- include('templates/layout_panel.ejs', { activePage: activePage || 'index' }) %>
	<main class="col-md-9 col-sm-12">
				<h1>Index</h1>
				<p class="my-text">Example text:</p>	
				<div class="clearfix">
					<p class="p-text my-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi unde enim voluptas placeat iusto magni ipsam laudantium modi aspernatur accusantium consequatur facere culpa pariatur tempora animi natus, eveniet fuga!	</p>
					<div class="my-center-img">
						<img src="./media/images/512_to_256.png" class="col-md-6 float-md-start p-1 m-2 my-img" alt="Пример изображения 512 на 256">
					</div>
					<p class="my-text p-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi unde enim voluptas placeat iusto magni ipsam laudantium modi aspernatur accusantium consequatur facere culpa pariatur tempora animi natus, eveniet fuga!
						At voluptates eaque vitae aperiam unde a ipsa inventore ex fuga explicabo? Voluptatibus, sed? Necessitatibus eum voluptatem modi quo nemo facere consequuntur culpa iure eligendi corrupti minima et, laborum aspernatur?
						Dicta dignissimos aliquam sapiente dolorem voluptate labore, doloremque ipsum fugiat doloribus obcaecati ullam excepturi modi voluptatum, voluptatem magnam velit aliquid. Unde, placeat possimus. Fugiat dolores beatae rem eos. Totam, voluptatum.
					</p>	
					<div class="my-center-img">
						<img src="./media/images/256_to_512.png" style="width: 256px;" class="col-md-6 float-md-end p-1 m-2 my-img" alt="Пример изображения 256 на 512">
					</div>
					<p class="my-text p-text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi unde enim voluptas placeat iusto magni ipsam laudantium modi aspernatur accusantium consequatur facere culpa pariatur tempora animi natus, eveniet fuga!
						At voluptates eaque vitae aperiam unde a ipsa inventore ex fuga explicabo? Voluptatibus, sed? Necessitatibus eum voluptatem modi quo nemo facere consequuntur culpa iure eligendi corrupti minima et, laborum aspernatur?
						Dicta dignissimos aliquam sapiente dolorem voluptate labore, doloremque ipsum fugiat doloribus obcaecati ullam excepturi modi voluptatum, voluptatem magnam velit aliquid. Unde, placeat possimus. Fugiat dolores beatae rem eos. Totam, voluptatum.
					</p>
				</div>
			</main>
        </div>
    </div>
</div>
</div>
</body>
</html>
